@model UNIMEET.Data.ApplicationUser

<!-- Boilerplate layout for now. Functionality > looks -->
<div class="container">
    <div class="row">
        <div class="col">
            <br />
            <div>
                <p>Your outgoing contact requests:</p>
            </div>
        </div>
    </div>
    @foreach (var friendRequest in Model.ContactRequestReceiver)
    {
        <div class="row">
            <div class="col-3">
                <a class="nav-link text-danger" asp-controller="ApplicationUser" asp-action="Details" asp-route-id="@friendRequest.Id">@friendRequest.Nickname</a>
            </div>
            <div class="col-3">
                <form asp-controller="ApplicationUser" asp-action="RemoveContactRequest">
                    <input asp-for="Id" type="hidden" value="@friendRequest.Id"/>
                    <button class="btn btn-danger" type="submit">Withdraw</button>
                </form>
            </div>
        </div>
    }
    <div class="row">
        <div class="col">
            <br />
            <div>
                <p>No more outgoing contact requests</p>
            </div>
        </div>
    </div>
</div>

