@* Add new contact partial view - displayed after pressing "search for contact" in contacts view*@

<!-- Add some vertical space before the form -->
<hr/>

<div><p>Search for users by email</p></div>

<input id="searchbarUsers" onkeyup="searchUsers()"/>
<div id="search-contacts-result"></div>