@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="css\custom.css" type="text/css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
</head>
<body>
<div class="container">
<div class="box-1">
    <h1>My first assignment for ikt201g21h</h1>
            
</div>
<div class="box-2">
    <h2 id="colors">What this is about</h2>
    <p>On this website I will explain why I decided on going back to school to study <em>computer engineering</em>.
        Before I started at UIA I was a landscaper. I had been for the last 5 years, I felt like I was at a point in my life when I had to make a decision.
        I felt like it was now or never. Thats when i started to look at my possibilities, I relised that I didnt have the math and pyshics requirements needed for a engineer education
        and doing anything else seemed like a no go at the time. I then started to look for education for these specific subjects. And thats when I found tres at <strong>UIA</strong></p>
</div>
    
    <div class="categories">       
    <div class="row">
      
    <div class="col-sm"><h3>Reasons for quiting my old job</h3>
        <ul> 
            <li>Tired of landscaping</li>
            <li>Low salary</li>
            <li>Get away from my old life</li>
            <li>Learn something new</li>
        </ul>
    </div>

            
            
    <div class="col-sm"><h3>Reasons for staying at my job</h3>
        <ul> 
            <li>Steady income</li>
            <li>Feeling of belonging</li>
            <li>Good work environment</li>
            <li>Fun at times</li>
        </ul>
    </div>
                
            
        <div class="col-sm"><h3>Reasons for studying</h3>
            <ul> 
                <li>Learning something new everyday</li>
                <li>New friends</li>
                <li>Future looks brigth</li>
                <li>Higher salary when im done</li>
            </ul>
        </div>
        </div>
    </div>    
            
    
    
    <div class="row">
    <div class="col-md-4 col-centered">
    <div class="adjust">
        <h3>What i want to improve</h3>
    </div>
    </div>
    </div>
    
        
        <div class="row">
        <div class="col-md-2 col-centered">
            <ol class="my-list">
                <li>Work more efficient</li>
                <li>Writing</li>
                <li>Go to sleep</li>
                <li>Stop wasting time</li>
            </ol>
        </div>
    </div>
    
    
            <div class="row">
                <div class="col-md-3 col-centered">
                <div class="adjust">
                        <h3>Contact info</h3>
                    </div>
            </div>
        
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">First name</th>
                        <th scope="col">Last name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Phone number</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Andreas</td>
                        <td>Primstad</td>
                        <td>Andreaspr@uia.no</td>
                        <td>93864789</td>
                    </tr>
                    </tbody>
                </table>
                
                
                
                
                <div class="row">
                    <div class="col-md-4 col-centered">
                    <div class="adjust">
                        <h3>A picture of me</h3>
                    </div>
                    </div>
                    </div>
                <img src="css/Images/img.jpg" alt="A picture of me">
                </div>
    

    
    <div class="move">
        <div class="row">
            <div class="col-md-4 col-centered">
                <h3>Search for anything</h3>
                <form class="form-inline">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>

            </div>
            </div>
        </div>
    
</div> <!-- container ends here -->
    


        
</body>

</html>