@{
    ViewData["Title"] = "Calculator";
}

<div class="text-center">
    <h1 class="display-4">Calculator</h1>
    
    <div id="display">0</div>
    <div id="buttons">
        
        <button id="reset" onclick="reset()">C</button>
        <button id="clear" onclick="clears()">CE</button>
        <button id="remove" onclick="remove()">←</button>
        <button id="seven" onclick="seven()">7</button>
        <button id="eight" onclick="eight()">8</button>
        <button id="nine" onclick="nine()">9</button>
        <button id="divide" onclick="divide()">/</button>
        <button id="four" onclick="four()">4</button>
        <button id="five" onclick="five()">5</button>
        <button id="six" onclick="six()">6</button>
        <button id="multiply" onclick="multiply()">*</button>
        <button id="one" onclick="one()">1</button>
        <button id="two" onclick="two()">2</button>
        <button id="three" onclick="three()">3</button>
        <button id="minus" onclick="minus()">-</button>
        <button id="equals" onclick="equals()">=</button>
        <button id="zero" onclick="zero()">0</button>
        <button id="plus" onclick="plus()">+</button>



    </div>
    
    
    
</div>