<div class="header">
    <h1>How does this work?</h1>
</div>
<hr style="height:2px;border-width:0;color:gray;background-color:gray; margin-right: 10%;">

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6">
            <video width="320" height="240" controls>
                <source src="movie.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>
        <div class="col-lg-6">
            <p style="text-align: justify;text-justify: inter-word;margin-right: 15%; margin-top: 10%">
                In the left video, you can see  how to register yourself and login to your page.
            </p>
        </div>
    </div>
</div>
<br>
<br>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6">
            <video width="320" height="240" controls>
                <source src="movie.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>
        <div class="col-lg-6">
            <p style="text-align: justify;text-justify: inter-word;margin-right: 15%; margin-top: 10%">
                In the left video,you can see in this video how to create a new group, how to see group details,members and view,and how to search for a meeting window.
            </p>
        </div>
    </div>
</div>
<br>
<br>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6">
            <video width="320" height="240" controls>
                <source src="movie.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>
        <div class="col-lg-6">
            <p style="text-align: justify;text-justify: inter-word;margin-right: 15%; margin-top: 10%">
                In the left video,you can see all the details with your current contacts and friends. 
                You can also add new contact with nicknames in this page and see your incoming and outgoing contact requests.
            </p>
        </div>
    </div>
</div>
<hr style="height:2px;border-width:0;color:gray;background-color:gray; margin-right: 10%;">


